<launch>
  <!-- Launch file for avia LiDAR -->

    <arg name="rviz" default="true" />

    <rosparam command="load" file="$(find voxel_map)/config/avia.yaml" />

    <node pkg="voxel_map" type="voxel_mapping_odom" name="voxel_mapping_odom" output="screen"/>
    <group if="$(arg rviz)">
    <node pkg="rqt_gui" type="rqt_gui" name="rqt" args="--perspective-file $(find voxel_map)/rviz_cfg/plot.perspective" />
    </group>

</launch>
