<launch>
    <node pkg="tf" type="static_transform_publisher" name="word2camera"  args="0 0 0 0 3.14 0 /world /camera_init 100" />
    <arg name="rviz" default="true" />

    <rosparam command="load" file="$(find voxel_map)/config/azure.yaml" />

    <node pkg="voxel_map" type="voxel_mapping_odom" name="voxel_mapping_odom" output="screen"/>

    <node pkg="rqt_gui" type="rqt_gui" name="rqt" args="--perspective-file $(find voxel_map)/rviz_cfg/plot.perspective" />
    <node pkg="rosbag" type="play" name="player" args="/media/jeff/dataset/static_azure_2023-04-28-09-54-33.bag -r 1 " />

</launch>
